*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top-line{
    display: flex;
    justify-content:space-between;
    background-color: black;
    color: white;
   line-height: 50px;
}
span{
    color: yellow;
}
.icons a i {
    color: white;
    margin-right: 20px;
}
.top-lines {
    margin-left: 15px;
}
nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;           
    padding: 15px 20px;
    background:#2E3C3C;
    color: white;
    position: relative;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;                       
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  text-decoration: none;
}

.edu {
    font-size: 23px;
    font-weight: 700;
    color:white;
}

nav ul li a:hover {
    color: yellow;
    text-decoration: none;   
}

.video {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}
.bg-video{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

}
.video-content {
  position: relative;
  z-index: 2;
  text-align: left;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}
.video-h1{
    margin-top: 70px;
    margin-left: 39px;
    font-size: 50px;
    z-index: -1;
}
.video-h2{
    margin-top: 30px;
    margin-left: 39px;
    font-size: 30px;
}
.video-p{
    margin-left: 39px;
    margin-top: 30px;
    width: 540px;
    font-size: 20px;
}
.video-btn {
  background-color:red;   
  color: white;              
  border: none;                
  padding: 12px 25px;         
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;         
  cursor: pointer;             
  transition: background 0.3s, 
  transform 0.2s; 
  margin-left: 34px;
  margin-top: 30px;
}
.video-btn:hover{
    background-color: #7F1D1D;

}


/* first div close is know  */
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -70px;
    position: relative;
    z-index: 30;
}
.card-1{
    width: 350px;
    height: 400px;
    background-color: #7F1D1D;
    text-align: center;   
  border-radius: 10px; 
  margin:  -100px 0 0 0;        
}
.card-12{
     width: 350px;
    height: 400px;
    background-color: #7F1D1D;
    text-align: center;   
  border-radius: 10px; 
  margin:  -100px 0 0 0; 
}
.card-13{
     width: 350px;
    height: 400px;
    background-color: #7F1D1D;
    text-align: center;   
  border-radius: 10px; 
  margin:  -100px 0 0 0; 
}
.card-1 img {
  width: 80px;                
  height: 80px;
  margin-top: 30px;
   margin-bottom: 15px;
}
.card-h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  color: white;
}

.card-p {
  font-size: 16px;
  line-height:1.9;
  color: rgba(255, 255, 255, 0.742);
  margin-top: 10px;
  width: 350px;
}

.upcoming{
    background-image: url(./images/meetings-page-bg.jpg);
    width: 100%;
    height: 1580px;
    background-position: center;
    background-size: cover;
    padding: 40px;
}
.upcoming-h1{
    text-align: center;
    margin-top: 40px;
    color: white;
}
hr{
    width: 90%;
    margin: 30px auto 0 auto;
}
.card-2, .card3, .card4, .card5, .card6 {
    border-radius: 15px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.card-2{
    width: 300px;
    height: 400px;
    border-radius: 15px 15px;
    background-color: #FFFFFF;
    margin-left: 50px;
}
.card2-h3 {
    margin: 30px 0 0 30px;
    padding-top: 30px;
}
.card2-pp{
  margin: 30px 0 0 30px;
}
.card2-p {
    margin-top: 5px;
}
.card2-btn{
    background-color:red;   
  color: white;              
  border: none;                
  padding: 12px 25px;         
  font-size: 16px;
  font-weight: bold;
  border-radius: 35px;         
  cursor: pointer;             
  transition: background 0.3s, 
  transform 0.2s; 
  margin-left: 20px;
  margin-top: 40px;
}
.card2-btn:hover{
    background-color: #7F1D1D;
}
.card-2,.card3,.card4,.card5,.card6{
    position: relative;
    overflow: hidden;
}
.card3{
    width: 370px;
    height: 400px;
     background-color: #FFFFFF;
     position: relative;
     border-radius: 15px 15px;
    
}
.card5{
     width: 370px;
    height: 400px;
     background-color: #FFFFFF;
     position: relative;
     border-radius: 15px 15px;
    margin-top: 30px;
   
    
  
    
}
.card6{
     width: 370px;
    height: 400px;
     background-color: #FFFFFF;
     position: relative;
     border-radius: 15px 15px;
     margin-top: 30px;
     
}
.card3-btn{
  position: absolute;
    top: 20px;
    right: 20px;   /* align from right edge of the card */
    width: 56px;
    height: 25px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid white;
}

.underdiv{
    display: flex;
   gap: 20px;
}
.card3-h2{
    color: #991B1B;
    margin-left: 10px;
}

.card3-p{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 24px;
}
.underdiv2{
    display: flex;
   gap: 20px;
}
.card3-l{
    margin-top: 24px;
    font-size: 24px;   
}
.card4{
    width: 370px;
    height: 450px;
     background-color: #FFFFFF;
     position: relative;
     border-radius: 15px 15px ;
    
    
}

.card5 img,
.card6 img {
    width: 100%;
    height: 60%;
    
}
.card-parentss{
    display: grid;
    grid-template-columns: repeat(3, 370px); 
    gap: 20px;
    margin-top: 40px;
  
      justify-content: center;
}
.card5{
    grid-column: 2;
}

/* 2nd div is close know  */
/* 3rd div is start know please  */
.background-img{
    width: 100%;
    height: 900px;
    background-image: url(./images/apply-bg.jpg);
    display: flex;
    justify-content: center;
}
.applydiv1{
    width: 550px;
    background-color:#474F52;
    height: 240px; 
    display: block; 
    margin-bottom: 20px; 
  opacity: 0.8;
}

.applydiv1-h3{
padding-top: 30px;
margin-left: 36px;
color: white;
}
.apply-uqiue{
    color: rgba(0, 0, 255, 0.671);
}
.apply-uqiue:hover{
    color:#FDE049;
}
.applydiv1-p{
    margin-left: 36px;
    margin-top: 20px;
    width: 420px;
    font-size: 16px;
    color: white;
    
}
.applydiv3{
    width:450px;
    height: 580px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 140px;
    margin-left: 30px;
}
.apply {
    display: block; 
    padding-top: 140px;
    margin-left: 40px;
}
.applydiv3h3{
    color:#EAB308;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}
.applydiv3-p{
    width: 400px;
    margin-left: 30px;
    line-height: 1.2;
    font-size: 17px;
    margin-top: 20px;
}
.applydiv3h2{
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;

}
.applydiv3-pp{
    margin-top: 30px;
    margin-left: 30px;
}
.applydiv3h2{
    font-weight: bold;
}
.p-p{
    margin-top: 30px;
    margin-left: 30px;
    width: 400px;
    line-height: 1.3;
}
/* div is close know  */
/* div start know  */
.Popular{
    width: 100%;
    height: 700px;
    background-image: url(./images/meetings-bg.jpg);
}
.Popular-h1{
    padding-top: 50px;
    color: white;
    margin-left: 70px;
}
.Popular-hr{
    width: 90%;
    margin-left: 70px;

}
.popularcard1{
    width: 270px;
    background-color:#FFFFFF;
    height: 350px;
}
.star{
    margin-left: 10px;
}
.Popularunderdiv{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 20px;
}
.popularcard1-h3{
  margin-top: 25px;
  text-align: center;
}
.price{
    font-weight: bold;
}
.popular-parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
}
/* div is close know  */
/* start div is start know  */
.university-img{
    width: 100%;
    height: 700px;
    background-image: url(./images/facts-bg.jpg);
}
.university-h1{
    color: white;
    padding-top: 30px;
    margin-left: 40px;
}
.Universitycard1{
    width: 250px;
    height: 140px;
    background-color: #505356;
    border-radius: 10px;
    
}
.Universitycard2{
    width: 250px;
    height: 140px;
    background-color: #505356;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 10PX;
}
.Universitycard3{
     width: 250px;
    height: 140px;
    background-color: #505356;
    border-radius: 10px;
    margin-top: 10px;
}
.Universitycard4{
     width: 250px;
    height: 140px;
    background-color: #505356;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
}
.University-h3{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color: yellow;
}
.University-p{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: white;
}
.University-parent{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 30px;
margin-top: 40px;
margin-right: 900px;
margin-left: 100px;
}
.Universitycard5{
    width: 450px;
    height: 400px;
    background-image: url(./images/video-item-bg.jpg);
  margin:-360px 25px 19px 746px;
  position: relative;
  border-radius: 30px;
}

.btn{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
margin-left: 225px;
margin-top: 150px;
}
#play{
    font-size: 25px;
}
.touch{
    width: 100%;
    height: 1070px;
    background-image: url(./images/meetings-bg.jpg);
    
}
.touch-parent{
    display: flex;
    padding-top: 140px;
    gap: 30px;
}
.touchdiv1{
    width: 800px;
    height: 620px;
    background-color: #FFFFFF;
    margin-left: 30px;
}
.touch-h2{
    padding-top: 30px;
    margin-left: 20px;
  font-size: 30px;
}
.touch-hr{
    margin-left: 0px;
}
input{
    width: 230px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 50px;
    outline: none;
    background-color: #E3E1E1;
    border: 1px solid #E3E1E1;
}
.information{
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px;
      background-color: #E3E1E1;
    border: 1px solid #E3E1E1;
    border-radius: 5px;
}

.touch-btn {
  background-color: #7F1D1D; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
   margin-left: 20px;
}
.touchdiv2{
    width: 400px;
    height: 700px;
    background-color:#7F1D1D;
    border-radius: 10px;
}
.touchdiv2-h2{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
.touchdiv2-h3{
    color: white;
    margin-top: 5px;
    margin-left: 30px;
}
.touchdiv2-hr{
    color: white;
    margin-left: 30px;
    margin-top: 40px;
   width: 220px;
}

.touch-lasthr{
    color: #6F7378;;
margin-left: 0px;
margin-top: 120px;
width: 100%;
}
.touchlast-p{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 18px;
}
/* @media query apply start knwo */
@media screen and  (max-width: 600px) {
    .top-line {
        flex-direction: column; 
        text-align: center;
        line-height: normal;
        padding: 10px;
    }
    .top-lines {
        margin: 0 0 10px 0; 
        font-size: 14px;
    }
    .icons a i {
        margin: 0 10px; 
    }
}


@media screen and  (max-width: 768px) {
    nav {
        flex-direction: column;  
        align-items: center; 
        padding: 10px 15px;
    }
    nav ul {
        flex-direction: column; 
        width: 100%;
        gap: 10px;
        margin-top: 10px;
        align-items: center;
    }
    nav ul li a {
        font-size: 16px; 
    }
    .edu {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

/* Media Query for screens <= 1024px (tablet) */
@media screen and  (max-width: 1024px) {
    .video-h1 {
        font-size: 40px;
        margin-left: 20px;
        margin-top: 50px;
    }
    .video-h2 {
        font-size: 25px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .video-p {
        width: 90%;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .video-btn {
        margin-left: 20px;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 14px;
    }
}


@media screen and   (max-width: 768px) {
    .video-content {
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
    }
    .video-h1 {
        font-size: 30px;
        margin: 0;
    }
    .video-h2 {
        font-size: 20px;
        margin: 10px 0;
    }
    .video-p {
        width: 100%;
        font-size: 16px;
        margin: 10px 0;
    }
    .video-btn {
        margin: 15px 0;
        padding: 10px 20px;
        font-size: 14px;
    }
    .bg-video {
        object-fit: cover; 
    }
}
/* first div is close know please  */
/* second div is start now  */
@media screen and  (max-width: 1110px) {
.card{
    display: grid;
  grid-template-columns: repeat(2, 300px); 
  justify-content: center;
  gap: 70px

 
}
.card-13{
    margin-top: 30px;
    
}
}
@media screen and (max-width :799px) {
    .card{
        display: block;
        margin-left: 200px;
        margin-top: 20px;
    }
    .card-12{
        margin-top: 50px;
    }   
}
@media screen and (max-width:569px) {
   .card-1{
    margin-left: -100px;
   }
   .card-12{
     margin-left: -100px;
   }
   .card-13{
       margin-left: -100px;
   }
}
@media screen and (max-width:468px) {
    .card-1{
        margin-left: -150px;
    }
    .card-12{
         margin-left: -150px;
    }
    .card-13{
          margin-left: -150px;
    }
}
@media screen  and (max-width:419px){
    .card-1{
        margin-left: -145px;
        width: 280px;
        height: 450px;
    }
    .card-p{
width: 280px;
    }
    .card-12{
        margin-left: -145px;
        width: 280px;
        height: 450px;
    }
    .card-13{
        margin-left: -145px;
        width: 280px;
        height: 450px;
    }
}
@media screen and (max-width:357px){
    .card-1{
        margin-left: -160px;
    }
    .card-12{
        margin-left: -160px;
    }
    .card-13{
        margin-left: -160px;
    }
}
/* clsoe div mediaquery  */
/* start know div mediaquery */
@media (max-width: 1024px) {
    .card-parent,
    .card-parent2 {
        flex-wrap: wrap;
        margin-left: 0;
        gap: 20px;
    }
    .card-2, .card3, .card4 {
        width: 300px;
        height: auto;
    }
    .card3 img,
    .card4 img {
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }
    .card3-btn {
        margin-left: 10px; /* fix price button position */
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .card-parent,
    .card-parent2 {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 30px;
    }
    .card-2, .card3, .card4 {
        width: 90%;
        height: auto;
    }
    .card2-h3,
    .card2-pp {
        margin-left: 20px;
    }
    .card2-btn {
        margin-left: 20px;
    }
    .card3-btn {
        margin-left: 20px;
    }
}
@media (max-width: 480px) {
    .card2-h3 {
        font-size: 18px;
    }
    .card3-h3, .card3-l {
        font-size: 18px;
    }
    .card3-p {
        font-size: 20px;
    }
}
/* close div know */
/* start div know please  */
  @media screen and (max-width: 1200px) {
    .card-parentss {
        grid-template-columns: repeat(2, 370px);
    }
    .card5 {
        grid-column: 2;
    }
    .upcoming{
        height: 3400px;
    }
     .card-2, .card3, .card4, .card5, .card6 {
        width: 100%; 
        margin-left: 20px;
        height: 400px;
    }
}
@media screen and (max-width: 800px) {
    .card-parentss {
        display: block;     
    }
    .card-parentss > div {
        width: 100%;      
        margin-bottom: 20px;
    }
 .card3,.card4{
    width: 100%;
  height: auto;
 }  
    .card5 {
        grid-column: auto; 
    }
    .upcoming {
        height: auto;      
    }
}
    .card3-btn {
        width: 45px;
        height: 20px;
        font-size: 12px;
        top: 15px;
        right: 15px;
    }
/* div media query close knwo  */

/* start know media query know  */
@media screen and (max-width: 992px) {
    .background-img {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 40px;
    }
    .apply {
        margin-left: 0;
        padding-top: 80px;
    }
    .applydiv3 {
        margin-left: 0;
        margin-top: 40px;
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .applydiv1 {
        width: 90%;
        height: auto;
        margin-left: 10px;
    }
    .applydiv1-p {
        width: 90%;
    }
    .video-btn{
        margin-left: 20px;
    }
    .applydiv3 {
        width: 90%;
        height: auto;
        margin-left: -5px;
    }
    .background-img {
        padding: 20px 0;
        height: auto;
    }
}
@media screen and (max-width: 500px) {
    .applydiv1-h3,
    .applydiv3h3,
    .applydiv3h2 {
        font-size: 18px;
    }
    .applydiv1-p,
    .applydiv3-p,
    .p-p {
        font-size: 14px;
        width: 90%;
    }
    .applydiv1 {
        width: 95%;
        height: 240px;
    }
    .applydiv3 {
        width: 95%;
    }
}
/* div is close know please */